<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



<head >

	<!--link rel="stylesheet" href="css/bootstrap.min.css"-->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"> </script>
	
	
	<title> User </title>
	
	<script>
	$(function(){
		$('#edit').click(function(event){
			event.preventDefault();
				$('#fieldset').prop('disabled', false);
				$('#edit').hide();
				$('#cancel').show();
				$('#submit').show();
		});
		$('#cancel').click(function(event){
			event.preventDefault();
				$('#fieldset').prop('disabled', false);
				$('#edit').show();
				$('#cancel').hide();
				$('#submit').hide();
		});
		
		$('.link').click(function(event){
			event.preventDefault();
			var href = $(this).attr('href');
			$.confirm({
				title: 'Potvrda',
				content: 'Da li ste sigurni?',
				buttons:{
					formSubmit: {
						text: 'Potvrdi',
						action: function(){
							$.ajax({
								url: href,
								success: function(data){
									$('#cancel'+data).hide();
									$('#active'+data).text("Neaktivna");
								}
							});
						}
					},
					cancel: {
						text: 'Otkazi'
					}
				},
				onContentReady: function () {
		        // bind to events
		        	var jc = this;
		        	this.$content.find('form').on('submit', function (e) {
		            // if the user submits the form by pressing enter in the field.
		           	 	e.preventDefault();
		            	jc.$$formSubmit.trigger('click'); // reference the button and click it
		        });
		    }
			});
			
		});
		
		$('#submit').click(function submit(event){
			event.preventDefault();
			var url = "/edit/"+ $('#span1').text();
			formData = JSON.stringify({
				email:$("#info [name='email1']").val(),
                password:$("#info [name='password1']").val(),
                name:$("#info [name='firstName']").val(),
                surname:$("#info [name='lastName']").val(),
                city:$("#info [name='city']").val(),
                phoneNumber:$("#info [name='number']").val(),
			});
			$.ajax({
				url: url,
				type: "PUT",
				data: formData,
				contentType: "application/json",
				success: function(data) {
					$('#fieldset').prop('disabled', true);
					$('#submit').hide();
				},
				error: function(){
					alert("neuspeh");
				}
			});
			return false;
		});
		
		$('#cinemaSearch').submit(function(event){
			event.preventDefault();
			$.ajax({
				url: "/cinemas/search/?search="+ $('#searchInput').val() ,
				success: function(data){
					for(i = 0; i<data.length; i++){
					newLink = "<a href=\"/cinemas/" + data[i].id +"\">" +data[i].name +"</a><br>";
					$("#searchResults").append(newLink);
					}
				},
				error: function(data){
					alert('Trazeni bioskop ne postoji');
				}
				
			});
		});
		
					
});
	$(function(){

	var frm = $('#createReq');
		frm.submit(function submit(event){
			event.preventDefault();
			formData = JSON.stringify({
				nameReq:$("#createReq [name='nameR']").val(),
                descriptionReq:$("#createReq [name='descriptionR']").val(),
                price:$("#createReq [name='priceR']").val(),
			});
			
			$.ajax({
				url: "/requisite",
				type: "POST",
				data: formData,
				contentType: "application/json",
				success: function(data){
					alert("uspeh");
					
					
				},
				error: function(data){
					alert('neuspeh');
					 console.log(data);
				}
			});
			return false;
		});
});
	
	$(document).ready(function() {
	    var table = $('#example').DataTable();
	 
	    $('#example tbody').on( 'click', 'tr', function () {
	        if ( $(this).hasClass('selected') ) {
	            $(this).removeClass('selected');
	            
	        }
	        else {
	            table.$('tr.selected').removeClass('selected');
	            $(this).addClass('selected');
	        }
	    } );
	 
	    $('#button').click( function () {
	        table.row('.selected').remove().draw( false );
	        
	        
    
	        
	    } );
	} );
	
	$(function(){

		var frm = $('#createAd');
			frm.submit(function submit(event){
				event.preventDefault();
				formData = JSON.stringify({
					nameAd:$("#createAd [name='nameA']").val(),
	                descriptionAd:$("#createAd [name='descriptionA']").val(),
	                imageAd:$("#createAd [name='imageA']").val(),
	                date:$("createAd[name = 'dateA']").val(),
				});
				
				$.ajax({
					url: "/userAd",
					type: "POST",
					data: formData,
					contentType: "application/json",
					success: function(data){
						alert("uspeh");
						
						
					},
					error: function(data){
						alert('neuspeh');
						 console.log(data);
					}
				});
				return false;
			});
	});
	</script>

</head>

<body>
<span id="span1" style="display: none;" th:text="${session.userId}"></span>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</a>
    </div>
    <ul class="nav navbar-nav">

        <li class="active"><a class="dropdown-toggle" data-toggle="tab" href="#home">Home</a>
		</li>
        <li><a data-toggle="tab" href="#tab1">Theaters</a></li>
        <li><a data-toggle="tab" href="#tab2">Cinemas</a></li>
        <li><a data-toggle="tab" href="#tab3">Friends</a></li>
		<li><a data-toggle="tab" href="#tab4">Reservations</a></li>
		<li><a data-toggle="tab" href="#tab5">Settings</a></li>
		<li><a data-toggle="tab" href="#tab6">Fan Zone</a></li>
      </ul>
	  
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>	  
    </ul>
	
	
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
   
	
    <div class="col-lg-12 text-left"> 
      <div class="tab-content">
	  
	  
	  <div id="home" class="tab-pane fade in active">
	 
		<div style="max-width:700px" th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}" class="form-group">
		<h1>User Profile</h1>
		<form id="info">
		<br>
		<label for="userName">Personal info: </label>
		<fieldset id="fieldset" disabled>
		<input id="userName"  type="text" class="form-control" placeholder="First Name" name="firstName" required="required" th:value="${session.loggedUser.getName()}"><br>
	  	<input id="userSurname"  type="text" class="form-control" placeholder="Last Name" name="lastName" required="required" th:value="${session.loggedUser.getSurname()}"><br>
		<input id="userEmail"  type="text" class="form-control" placeholder="Email" name="email1" required="required" th:value="${session.loggedUser.getEmail()}"><br>
		<input type="password" class="form-control" placeholder="Password" name="password1" required="required" id="pass1" th:value="${session.loggedUser.getPassword()}"><br>
		<input id="userCity"  type="text" class="form-control" placeholder="City" name="city" required="required" th:value="${session.loggedUser.getCity()}"><br>
		<input id="userNumber"  type="text" class="form-control" placeholder="Phone number" name="number" required="required" th:value="${session.loggedUser.getPhoneNumber()}"><br>
		</fieldset>
		<button id="edit" class="btn">Edit</button>
		<button id="cancel" class="btn" style="display:none">Cancel</button>
		<button id="submit" class="btn" style="display:none; background-color:8FBC8F">Submit</button>
	  	</form>
		</div>
		<hr>
		
	
      </div>

 <div id="tab1" class="tab-pane fade">
      <h1>theaters</h1>
      <div>
	  <table style="width:700px" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Adress</th>
            <th>Description</th>
        </tr>
        <tr th:each="cinema : ${cinemas}">
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getName()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getCity()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getAdress()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getDescription()}">ayy</td>
        </tr>
    </table>
	</div>
		
    </div>
	
 <div id="tab2" class="tab-pane fade" th:if="${cinemas != null}">
      <h1>cinemas</h1>
	  <table style="width:700px" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Adress</th>
            <th>Description</th>
        </tr>
        <tr th:each="cinema : ${cinemas}">
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getName()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getCity()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getAdress()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getDescription()}">ayy</td>
        </tr>
        
    </table>
    <br>
	<div style="width:700px">
     <form action="#" id="cinemaSearch">
    <h2>Rezervacija karata</h2>
    <p>Trazi bioskop: </p>
     <input class="form-control" id="searchInput" name="search" style="width: 300px; display: inline-block"></input>
     <button type="submit" class="btn">Search</button> 
    </form>
    <p th:if="${session.search != null}"></p>
    <div style="width:300px;" id="searchResults" >
    	
    
    </div><br>
    
    <p>Or choose:</p>
    <div style="width:700px" class="form-group blu-margin">
    <select class="form-control" id="dropOperator" style="display: inline-block; width:300px">
    <option value="0">Select Cinema</option>
    <option th:each="cinema : ${cinemas}" th:if="${cinema.isCinema()==true}" th:value="${cinema.getId()}" th:text="${cinema.getName()}"></option>
    </select>
    <button class="btn">Continue</button>
	</div>
      
    </div>
	</div>
	
 <div id="tab3" class="tab-pane fade">
      <h1>friends</h1>
	  
	  
    </div>

	 <div id="tab4" class="tab-pane fade">
      <h1>reservations</h1>
	  <table style="width:700px" class="table">
        <tr>
            <th>Lokacija</th>
            <th>Projekcija/Nastup</th>
            <th>Sediste</th>
            <th>Datum i vreme</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr th:each="reservation : ${reservations}" th:switch="${reservation.isActive()}">
            <td th:text="${reservation.getCinema().getName()}">ayy</td>
            <td th:text="${reservation.getMovie().getName()}">ayy</td>
            <td th:text="${reservation.getReservedSeat().getNumber()}">ayy</td>
            <td th:text="${reservation.getProjection().getDate()}">ayy</td>
            <td th:id="'active' + ${reservation.getId()}" th:case="true">Aktivna</td>
            <td th:id="'active' + ${reservation.getId()}" th:case="false">Neaktivna</td>  
            <!--  <td><form th:action="@{/reservations/deactivate/(id=${reservation.getId()})}" method="PUT"><input type="submit" value="Cancel"/></form></td>-->
            <td><a th:if="${reservation.checkCancel() == true && reservation.isActive()==true}" class="link" th:href="@{/reservations/deactivate/(id=${reservation.getId()})}" th:id="'cancel' + ${reservation.getId()}">Cancel</a></td>
                 
        </tr>
        
    </table> 
	  
    </div>
	
	 <div id="tab5" class="tab-pane fade">
	<h1>settings</h1> 
<!-- --> 

<!-----------------    -->  
	  
	  
    </div>
	
	 <div id="tab6" class="tab-pane fade">
      
      	 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FanZone</a>
    </div>
    <ul class="nav navbar-nav">
	   <li class="active"><a data-toggle="tab"  href="#req">Requisites Store</a>
		</li>
        <li><a data-toggle="tab" href="#ads">User Ads</a></li>
      
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
		<button type="submit" class="btn btn-default">Submit</button>
      </div>
      
    </form>
  </div>
</nav> 

<div class="tab-content">
  <div id="req" class="tab-pane fade in active">

<div class="container-fluid text-center">    
  <div class="row content">
  
    <div class="col-sm-2 sidenav">
    
    <div th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}">
        <form id="createReq">
        <h1 class="text-center">Add Requisite</h1>
			<hr>
     <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="nameR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="descriptionR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Price" name="priceR" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
           
    </form>
    <div>
    <h1>Delete requisite</h1>
    <button id="button" class="btn btn-default btn-block">Delete selected row</button>
    
    </div>
    
    </div>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Requisite store</h1>
      <hr>

      <table id="example" class="table display" th:if="${requisites != null}">
        
      <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
      </thead>
       
     <tbody>
        <tr th:each="requisite : ${requisites}">
        	
            <td th:text="${requisite.getNameReq()}">ayy</td>
            <td th:text="${requisite.getDescriptionReq()}">ayy</td>
            <td th:text="${requisite.getPrice()}">ayy</td>
            
        </tr>
        </tbody>
            <tfoot>
            <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            </tr>
        </tfoot>
    </table>
    </div>
    <div class="col-sm-2 sidenav">
      <div>
    <form id="editReq">
        <h1 class="text-center">Edit</h1>
			<hr>
     <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="nameR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="descriptionR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Price" name="priceR" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
           
    </form>
    
    </div>
     
    </div>
  </div>
</div>

</div>

 <div id="ads" class="tab-pane fade">
      <div class="container-fluid text-center">
       <div class="row content">
    <div class="col-sm-2 sidenav">
    
       <div th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}">
        <form id="createAd">
        <h1 class="text-center">New ad</h1>
			<hr>
     <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="nameA" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="descriptionA" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Image" name="imageA" required="required">
        </div>
        <!--  --div class="form-group">
            <input type="date" class="form-control" name="dateA" required="required">
        </div-->
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
           
    </form>
     </div> 
     
      <div th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}">
    <h1>Aprove ad</h1>
    <button id="aprove" class="btn btn-default btn-block">Aprove</button>
    <button id="delete" class="btn btn-default btn-block">Disaprove</button>
    
    </div>
     
      
    </div>
    
    <div class="col-sm-8 text-left"> 
      <h1>Ads store</h1>
      <hr>

      <table class="table table-striped" th:if="${userAds != null}">
        <tr>
            
            <th>Name</th>
            <th>Description</th>
            <th>Picture </th>
            <th>Date</th>
        </tr>
        <tr th:each="userAd : ${userAds}">
        	
            <td th:text="${userAd.getNameAd()}">ayy</td>
            <td th:text="${userAd.getDescriptionAd()}">ayy</td>
            <td th:text="${userAd.getImageAd()}">ayy</td>
            <td th:text="${userAd.getDate()}">ayy</td>
            
        </tr>
    </table>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

</div>
      
    </div>  
	  
	  
    </div>	  
	<!-- -------------------------------------------- -->
	
	  
 </div>
	
      
	  
	  
    </div>
	
	
</div>
</div>

</div>
</div>



</body>
</html>   