<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



<head >

	<!--link rel="stylesheet" href="css/bootstrap.min.css"-->
	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/navbar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> User </title>
	
	<script>
	$(function(){	
		
		$('.link').click(function(event){
			event.preventDefault();
			var href = $(this).attr('href');
			$.confirm({
				title: 'Potvrda',
				content: 'Da li ste sigurni?',
				buttons:{
					formSubmit: {
						text: 'Potvrdi',
						action: function(){
							$.ajax({
								url: href,
								success: function(data){
									$('#cancel'+data).hide();
									$('#active'+data).text("Neaktivna");
								}
							});
						}
					},
					cancel: {
						text: 'Otkazi'
					}
				},
				onContentReady: function () {
		        // bind to events
		        	var jc = this;
		        	this.$content.find('form').on('submit', function (e) {
		            // if the user submits the form by pressing enter in the field.
		           	 	e.preventDefault();
		            	jc.$$formSubmit.trigger('click'); // reference the button and click it
		        });
		    }
			});
			
		});
					
				});
	</script>

</head>

<body>
<span id="span1" style="display: none;" th:text="${session.userId}"></span>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="../index.html"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star</a>
    </div>
    <ul class="nav navbar-nav">

        <li class="active"><a class="dropdown-toggle" data-toggle="tab" href="#home">Home</a>
		</li>
        <li><a data-toggle="tab" href="#tab1">Theaters</a></li>
        <li><a data-toggle="tab" href="#tab2">Cinemas</a></li>
        <li><a data-toggle="tab" href="#tab3">Friends</a></li>
		<li><a data-toggle="tab" href="#tab4">Reservations</a></li>
		<li><a data-toggle="tab" href="#tab5">Settings</a></li>
		<li><a data-toggle="tab" href="#tab6">Fan Zone</a></li>
      </ul>
	  
	<ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li>	  
    </ul>
	
	
  </div>
</nav>

<div class="container-fluid text-center">    
  <div class="row content">
   
	
    <div class="col-lg-12 text-left"> 
      <div class="tab-content">
	  
	  
	  <div id="home" class="tab-pane fade in active">
	 
		<div th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}">
		
		<p style="font-size:150%;" th:text="${session.loggedUser.getName()}" th:unless="${session == null}"></p>
	  	<p style="font-size:150%;" class="text-lg-left" th:text="${session.loggedUser.getSurname()}" th:unless="${session == null}"></p>
		<p style="font-size:150%;" class="text-lg-left" th:text="${session.loggedUser.getEmail()}" th:unless="${session == null}"></p>
		<p style="font-size:150%;" class="text-lg-left" th:text="${session.loggedUser.getPhoneNumber()}" th:unless="${session == null}"></p>
		<p style="font-size:150%;" class="text-lg-left" th:text="${session.loggedUser.getCity()}" th:unless="${session == null}"></p>
		<p style="font-size:150%;" class="text-lg-left" th:text="${session.loggedUser.getPrivilege()}" th:unless="${session == null}"></p>
	  	
		</div>
		<hr>
		
	
      </div>

 <div id="tab1" class="tab-pane fade">
      <h1>theaters</h1>
      <div>
	  <table style="width:700px" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Adress</th>
            <th>Description</th>
        </tr>
        <tr th:each="cinema : ${cinemas}">
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getName()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getCity()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getAdress()}">ayy</td>
            <td th:if="${cinema.isCinema() == false}" th:text="${cinema.getDescription()}">ayy</td>
        </tr>
    </table>
	</div>
		
    </div>
	
 <div id="tab2" class="tab-pane fade" th:if="${cinemas != null}">
      <h1>cinemas</h1>
	  <table style="width:700px" class="table table-striped">
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Adress</th>
            <th>Description</th>
        </tr>
        <tr th:each="cinema : ${cinemas}">
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getName()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getCity()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getAdress()}">ayy</td>
            <td th:if="${cinema.isCinema() == true}" th:text="${cinema.getDescription()}">ayy</td>
        </tr>
    </table>
	  
	</div>
	
 <div id="tab3" class="tab-pane fade">
      <h1>friends</h1>
	  
	  
    </div>

	 <div id="tab4" class="tab-pane fade">
      <h1>reservations</h1>
	  <table style="width:700px" class="table">
        <tr>
            <th>Lokacija</th>
            <th>Projekcija/Nastup</th>
            <th>Sediste</th>
            <th>Datum i vreme</th>
            <th>Status</th>
            <th></th>
        </tr>
        <tr th:each="reservation : ${reservations}" th:switch="${reservation.isActive()}">
            <td th:text="${reservation.getCinema().getName()}">ayy</td>
            <td th:text="${reservation.getMovie().getName()}">ayy</td>
            <td th:text="${reservation.getReservedSeat().getNumber()}">ayy</td>
            <td th:text="${reservation.getProjection().getDate()}">ayy</td>
            <td th:id="'active' + ${reservation.getId()}" th:case="true">Aktivna</td>
            <td th:id="'active' + ${reservation.getId()}" th:case="false">Neaktivna</td>  
            <!--  <td><form th:action="@{/reservations/deactivate/(id=${reservation.getId()})}" method="PUT"><input type="submit" value="Cancel"/></form></td>-->
            <td><a th:if="${reservation.checkCancel() == true && reservation.isActive()==true}" class="link" th:href="@{/reservations/deactivate/(id=${reservation.getId()})}" th:id="'cancel' + ${reservation.getId()}">Cancel</a></td>
                 
        </tr>
        
    </table> 
	  
    </div>
	
	 <div id="tab5" class="tab-pane fade">
      <h1>settings</h1>
	  
	  
    </div>
	
	 <div id="tab6" class="tab-pane fade">
      
      	 <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">FanZone</a>
    </div>
    <ul class="nav navbar-nav">
	   <li class="active"><a data-toggle="tab"  href="#req">Requisites Store</a>
		</li>
        <li><a data-toggle="tab" href="#ads">User Ads</a></li>
      
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
		<button type="submit" class="btn btn-default">Submit</button>
      </div>
      
    </form>
  </div>
</nav> 

<div class="tab-content">
  <div id="req" class="tab-pane fade in active">

<div class="container-fluid text-center">    
  <div class="row content">
  
    <div class="col-sm-2 sidenav">
    
    <div th:if="${session.loggedUser.getPrivilege() == T(com.isa.domain.Privilege).REGISTERED_USER}">
        <form id="createReq">
        <h1 class="text-center">Add Requisite</h1>
			<hr>
     <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="nameR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="descriptionR" required="required">
        </div>
		<div class="form-group">
            <input type="text" class="form-control" placeholder="Price" name="priceR" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default btn-block">Submit</button>
        </div>
           
    </form>
    
    </div>
    </div>
    <div class="col-sm-8 text-left"> 
      <h1>Requisite store</h1>
      <hr>

      <table class="table table-striped" th:if="${requisites != null}">
        <tr>
            
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
     
        </tr>
        <tr th:each="requisite : ${requisites}">
        	
            <td th:text="${requisite.getNameReq()}">ayy</td>
            <td th:text="${requisite.getDescriptionReq()}">ayy</td>
            <td th:text="${requisite.getPrice()}">ayy</td>
            
        </tr>
    </table>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

</div>

 <div id="ads" class="tab-pane fade">
      <div class="container-fluid text-center">
       <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    
    <div class="col-sm-8 text-left"> 
      <h1>Ads store</h1>
      <hr>

      <table class="table table-striped" th:if="${requisites != null}">
        <tr>
            
            <th>Name</th>
            <th>Description</th>
        </tr>
        <tr th:each="userAd : ${userAds}">
        	
            <td th:text="${userAd.getNameAd()}">ayy</td>
            <td th:text="${userAd.getDescriptionAd()}">ayy</td>
        </tr>
    </table>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

</div>
      
    </div>  
	  
	  
    </div>	  
	<!-- -------------------------------------------- -->
	
	  
 </div>
	
      
	  
	  
    </div>
	
	
</div>
</div>

</div>
</div>



</body>
</html>   