    /* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
      margin-bottom: 0;
      border-radius: 0;
}
body {
		background-color: #d1c4e9;
}
.btn.btn-default.btn-block {
    color: #FFFFFF;
    background-color: #b05cb8;
  
}
.btn.btn-default {
    color: #FFFFFF;
    background-color: #b05cb8;
  
}


.navbar-default {
  background-color: #9b36c4;
  border-color: #a477b7;
}
.navbar-default .navbar-brand {
  color: #f3f2f3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ebdbfc;
}
.navbar-default .navbar-text {
  color: #f3f2f3;
}
.navbar-default .navbar-nav > li > a {
  color: #f3f2f3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ebdbfc;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #9b36c4;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f3f2f3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ebdbfc;
  background-color: #a477b7;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #a477b7;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #ebdbfc;
  background-color: #a477b7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ebdbfc;
  background-color: #a477b7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ebdbfc;
  background-color: #a477b7;
}
.navbar-default .navbar-toggle {
  border-color: #a477b7;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #a477b7;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f3f2f3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f3f2f3;
}
.navbar-default .navbar-link {
  color: #f3f2f3;
}
.navbar-default .navbar-link:hover {
  color: #ebdbfc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f3f2f3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ebdbfc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ebdbfc;
    background-color: #a477b7;
  }